*{
    font-family: sans-serif;
}

th, td{
    border: 1px solid #888;
    border-collapse: collapse;
    padding: 10px; 
}

.foottitel{
    text-align: right;
}

.plusmin{
    border: 1px solid #888;
    background-color: rgba(128, 128, 128, 0.4);
    margin: 15px 5px;
    padding: 5px
}    

.productnaam{
    text-align: left;
}

.tabeltitels{
    background-color: black;
    color:white;
    text-align:left;
}

.tabeldeel2{
    border: 1px solid #888;
    border-collapse: collapse;
    padding: 10px;
}

.productPrize, .productTotalCost, #totalCost{
    text-align: right;
} 

